.about_icon {
    width: 22px; height: 44px;
    background: url('/partial/navigation/nav_sprite.png') -10px -129px;
}

.blog_icon {
    width: 40px; height: 40px;
    background: url('/partial/navigation/nav_sprite.png') -146px -10px;
}

.contact_icon {
    width: 49px; height: 33px;
    background: url('/partial/navigation/nav_sprite.png') -10px -76px;
}

.home_icon {
    width: 54px; height: 46px;
    background: url('/partial/navigation/nav_sprite.png') -10px -10px;
}

.work_icon {
    width: 42px; height: 42px;
    background: url('/partial/navigation/nav_sprite.png') -84px -10px;
}