.article {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    font-size: 0.9em;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 24%;
}

.article_text {
    text-align: left;
    line-height: 200%;
    overflow: hidden;
}

.article_link_name {
    color: rgb(255,177,16);
}