.backgroung_landscape {
    box-sizing: border-box;

    margin: 0 auto;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(/img/pic.jpg); 
}

.text_above_backgroung_landscape {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 496px;
    box-sizing: border-box;

    margin: 0 auto;

    text-align: center;
    font-size: 50px;
    font-weight: 900;

    background-color: rgba(0, 0, 0, 0.8);
}