.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: $mainwidth;
    
    margin: 0 auto;
}

.bottom {
    width: 36px;
    height: 9px;
}

.copyright {
    padding: 20px;

    text-align: center;    
    font-size: 20px;
    color: black;
}