.menu_container {
    // align-self: flex-end;
    // justify-self: start;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;

    width: 100%;
}

.menu_item {
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    white-space: nowrap;
}