.team_member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31%;
    font-size: 2em;
}

.team_member_position_and_name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.team_member_position {
    color: rgb(251,156,6);
}

.team_member_portrait {
    border-radius: 50%;
    padding-bottom: 1em;
}

.team_memder_description {
    font-size: 0.5em;
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
}