.bg-about_icon {
    width: 22px; height: 44px;
    background: url('css_sprites.png') -952px -615px;
  }
  
  .bg-blog_icon {
    width: 40px; height: 40px;
    background: url('css_sprites.png') -952px -555px;
  }
  
  .bg-contact_icon {
    width: 49px; height: 33px;
    background: url('css_sprites.png') -1196px -430px;
  }
  
  .bg-home_icon {
    width: 54px; height: 46px;
    background: url('css_sprites.png') -1060px -430px;
  }
  
  .bg-hoof {
    width: 294px; height: 294px;
    background: url('css_sprites.png') -324px -430px;
  }
  
  .bg-nibs {
    width: 294px; height: 295px;
    background: url('css_sprites.png') -10px -430px;
  }
  
  .bg-rabbit {
    width: 88px; height: 105px;
    background: url('css_sprites.png') -952px -430px;
  }
  
  .bg-squawk {
    width: 294px; height: 294px;
    background: url('css_sprites.png') -638px -430px;
  }
  
  .bg-work_icon {
    width: 42px; height: 42px;
    background: url('css_sprites.png') -1134px -430px;
  }
  
  .bg-orange {
    width: 1600px; height: 400px;
    background: url('css_sprites.png') -10px -10px;
  }